* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:"roboto" ;
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family:"staatliches" ;
  src: url("../fonts/Staatliches-Regular.ttf");
}


/* versión móvil (mobile first) */
header{
  /* estilos de sí mismo */
  width: 100%;
  height: 100vh;
  
  background-image: url('https://dummyimage.com/600x1200');
  background-position: center;
  background-size: cover;

  /* cómo organiza los hijos */
  display: flex;
  flex-direction: column;
  /* cuando es column */
  /* organiza el X */
  align-items: center;
  /* organiza el Y */
  justify-content: center;

  row-gap: 3rem;

  p{
    background-color: rgba(59, 59, 59, 0.53);
    color: white;
    padding: 2rem 4rem;
    font-family: "roboto";
    font-size: clamp(0.9rem, 3vw, 3rem);
    line-height: clamp(1.1rem, 3.2vw, 3.3rem);
    font-weight: 300;
  }
}

.boton{
  background-color: blue;
  padding: 0.5rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  &:hover{
    background-color: white;
    color: blue;    
  }
  &:active{
    transform: scale(.95);
  }
}


/* 2rem de tamaño */
h1{
  color: rgb(255, 255, 255);
  font-size: clamp(2rem,10vw,15rem);
  font-family: "staatliches";
  font-weight: 100;
  letter-spacing: 15px;
}




